<div class="card-body">
    <div>
    <div class="form-group">
        <label>제목:</label>
        <input class="form-control" ng-model="notice.btitle"/>
    </div>
    <div class="form-group">
        <label>글쓴이:</label>
        <input class="form-control" ng-model="notice.userid" readonly/>
    </div>
    <div class="form-group">
        <label>날짜:</label>
        <input class="form-control" value="{{notice.bdate | date:'yyyy.MM.dd'}}" readonly/>
    </div>
    <div class="form-group">
        <label>내용:</label>
        <textarea class="form-control" ng-model="notice.bcontent"></textarea>
    </div>

    <button class="btn btn-primary btn-sm" ng-click="updateNotice(notice)">수정</button>
    <button class="btn btn-primary btn-sm" ng-click="cancel()">취소</button>        
</div>
</div>
