<div class="card-body">
    <div>
    <div class="form-group">
        <label>제목:</label>
        <input class="form-control" ng-model="communityqna.btitle"/>
    </div>
    <div class="form-group">
        <label>글쓴이:</label>
        <input class="form-control" ng-model="communityqna.userid" readonly/>
    </div>
    <div class="form-group">
        <label>날짜:</label>
        <input class="form-control" value="{{communityqna.bdate | date:'yyyy.MM.dd'}}" readonly/>
    </div>
    <div class="form-group">
        <label>내용:</label>
        <textarea class="form-control" ng-model="communityqna.bcontent"></textarea>
    </div>

    <button class="btn btn-primary btn-sm" ng-click="updateCqna(communityqna)">수정</button>
    <button class="btn btn-primary btn-sm" ng-click="cancel()">취소</button>        
</div>
</div>
